.carousel {
  position: relative;
  width: 100%;
  height: 643px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel__image-wrapper {
  width: 100%;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: white;
  font-size: 96px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel__counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }
  .carousel__button {
    font-size: 32px;
  }
}
