footer {
  height: 209px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer img {
  padding-bottom: 48px;
}

footer p {
  color: white;
  font-size: 24px;
}

@media (max-width: 768px) {
  footer p {
    text-align: center;
    font-size: 18px;
    width: 50%;
  }
  footer img {
    padding-bottom: 16px;
  }
}
