.logement-container {
  margin-left: 100px;
  margin-right: 100px;
}

.lodging-details {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.lodging-details h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
}

.lodging-details h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 51px;
}

.tags {
  display: flex;
  gap: 15px;
  align-items: center;
}

.lodging-tag {
  background-color: #ff6060;
  color: white;
  height: 25px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.lodging-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.lodging-info span {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  width: min-content;
}

.lodging-info img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.tags-and-rating {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.lodging-menu {
  display: flex;
  gap: 32px;
}

@media (max-width: 768px) {
  .logement-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .tags-and-rating {
    flex-direction: column;
    position: relative;
  }
  .tags {
    padding-bottom: 16px;
  }
  .lodging-menu {
    flex-direction: column;
  }
  .lodging-info {
    justify-content: flex-end;
    align-items: center;
  }
  .lodging-details h1 {
    font-size: 24px;
  }
  .lodging-info span {
    font-size: 14px;
    width: min-content;
  }
  .lodging-info img {
    height: 32px;
    width: 32px;
  }
}
